<div *ngIf="isFetching; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <app-loading-anima></app-loading-anima>
</ng-template>
<ng-template #elseBlock>

  <div class="grid-container">
    <!-- <h1 class="mat-h1">Dashboard</h1> -->
    <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">

      <!--Mini Cards 
    <mat-grid-tile *ngFor="let i of [1, 2, 3, 4]" [colspan]="( cardLayout | async )?.miniCard.cols"
      [rowspan]="( cardLayout | async )?.miniCard.rows">
      <app-card title="Card {{i}}">
        <div>Mini Card Content Here</div>
      </app-card>
    </mat-grid-tile>
    -->

      <!--Rezumat Charts-->
      <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
        <app-card title="Cost mediu MWH - INTRARI TOTALE">
          <app-cost-mediu-mwh [energySourceData]="data.energyData[data.energyData.length - 1]">
          </app-cost-mediu-mwh>
        </app-card>
      </mat-grid-tile>

      <!-- Doughnuts -->
      <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
        <app-card title="Intrari totale de energie">
          <app-intrari-energie-total [energySourceData]="data.energyData[data.energyData.length - 1]">
          </app-intrari-energie-total>
        </app-card>
      </mat-grid-tile>

      <!--Stacked Horizontal Bar -->

      <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
        <app-card title="Structura Cost Mediu pe MWh">
          <app-horizontal-bar-cost-mediu-mwh-stack [costMediu]="data.energyData[data.energyData.length - 1].kpis[4]"
            [chIndir]="data.costuriFixeKpi">
          </app-horizontal-bar-cost-mediu-mwh-stack>
        </app-card>
      </mat-grid-tile>


      <!-- Energy Input Bar Charts 
      <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
        <app-card title="Cost mediu MWH - INTRARI PIETE">
          <app-cost-mediu-mwh-piete [energySourceData]="data.energyData[0]">
          </app-cost-mediu-mwh-piete>
        </app-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
        <app-card title="Cost mediu MWH - PRODUCTIE INTERNA">
          <app-cost-mediu-mwh-productie [energySourceData]="data.energyData[1]">
          </app-cost-mediu-mwh-productie>
        </app-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
        <app-card title="Cost mediu MWH - INTRARI TOTALE">
          <app-cost-mediu-mwh [energySourceData]="data.energyData[data.energyData.length - 1]">
          </app-cost-mediu-mwh>
        </app-card>
      </mat-grid-tile>
-->

      <!--Energy Input Data Table -->
      <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
        <app-card title="Energie intrata in perioada">
          <app-energy-input-data [energyInputData]="data">
          </app-energy-input-data>
        </app-card>
      </mat-grid-tile>

      <mat-grid-tile *ngFor="let i of [6]" [colspan]="( cardLayout | async )?.chart.cols"
        [rowspan]="( cardLayout | async )?.chart.rows">
        <app-card title="Card {{i}}">
          <div>Chart Content Here</div>
        </app-card>
      </mat-grid-tile>

      <!--Table-->
      <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
        <app-card title="Energie intrata in perioada">
          <div>Table Content Here</div>
          <app-intrari-energie-total [energySourceData]="data.energyData[data.energyData.length - 1]">
          </app-intrari-energie-total>

        </app-card>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</ng-template>